<div class="container">
  <h3>Teachers</h3>
  <div class="button-content">
    <button mat-button (click)="openTeacherForm(false, '')" class="add">Agregar</button>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let teacher"> {{ teacher.name }} </td>
      </ng-container>

      <!-- paternal Column -->
      <ng-container matColumnDef="paternal">
        <th mat-header-cell *matHeaderCellDef> Paternal </th>
        <td mat-cell *matCellDef="let teacher"> {{ teacher.paternal }} </td>
      </ng-container>

      <!-- maternal Column -->
      <ng-container matColumnDef="maternal">
        <th mat-header-cell *matHeaderCellDef> Maternal </th>
        <td mat-cell *matCellDef="let teacher"> {{ teacher.maternal }} </td>
      </ng-container>

      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let teacher"> {{ teacher.phone }} </td>
      </ng-container>

       <!-- phone Column -->
       <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef> Birthday </th>
        <td mat-cell *matCellDef="let teacher"> {{ teacher.birthday }} </td>
      </ng-container>

      <!-- options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let teacher">
          <button mat-button [ngClass]="{'activo': teacher.status, 'inactivo': !teacher.status}"]>
            <mat-icon>{{ teacher.status? 'check' : 'remove' }}</mat-icon>
          </button>
          <button mat-button class="edit" (click)="openTeacherForm(true, teacher)">
            <mat-icon>pencil</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="teacherColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: teacherColumns;"></tr>
    </table>
  </div>
</div>
