<h3>{{ data.action? 'Editar' : 'Agregar' }}</h3>
<mat-dialog-content>
  <form [formGroup]="teacherForm">
    <mat-form-field class="field">
      <mat-label>User</mat-label>
      <mat-select formControlName="user_id" placeholcer="Role">
        <mat-option *ngFor="let user of users" [value]="user.id"> {{ user.username }} - {{ user.email  }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput formControlName="name" placeholder="Name" type="text">
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput formControlName="paternal" placeholder="Paternal" type="text">
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput formControlName="maternal" placeholder="Maternal" type="text">
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput formControlName="phone" placeholder="Phone" type="text">
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Cerrar</button>
  <button mat-button class="save"
    (click)="data.action? update() : store()">Guardar</button>
</mat-dialog-actions>
